<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>ОВК</title>
    <meta name="cmsmagazine" content="5a7189a28fb3dc68238dbdb44c9ea99c" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900&display=swap&subset=cyrillic" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="16x16" href="../img/favicon.png">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/blog.css">
</head>

<body>

    <div class="menu-mobile">
        <span class="close"></span>
        <nav>
            <ul>
                <li class="active"><a href="catalog.html">Каталог товаров</a></li>
                <li><a href="design-ideas.html">Идеи дизайна</a></li>
                <li><a href="trade-marks.html">Торговые марки</a></li>
                <li><a href="delivery.html">Доставка и оплата</a></li>
                <li><a href="exchange.html">Возврат и обмен</a></li>
                <li><a href="about.html">О нас</a></li>
                <li><a href="contacts.html">Контакты</a></li>
                <li><a href="blog.html">Блог</a></li>
            </ul>
        </nav>
    </div>

    <header>
        <div class="header-top">
            <div class="container clearfix">
                <a class="logo" href="index.html"><img src="../img/logo.png" alt=""></a>
                <div class="top-login clearfix">
                    <span class="time"><i class="icon-time-line"></i>Приём заказов,пн-вс 9:00-18:00</span>
                    <ul class="tel">
                        <li><a href="tel:0633095050"><i class="icon-phone-line"></i>0 63 309 50 50</a></li>
                        <li><a href="tel:0993095050"><i class="icon-phone-line"></i>0 99 309 50 50</a></li>
                        <li><a href="tel:0963095050"><i class="icon-phone-line"></i>0 96 309 50 50</a></li>
                    </ul>
                    <a href="personal-area.html" class="login"><i class="icon-user-line"></i>Войти</a>
                </div>
            </div>
        </div>
        <div class="header-content">
            <div class="container clearfix">
                <span class="modile-menu"><i class="icon-menu-1"></i>Меню</span>
                <!-- <span class="desc-menu"><i class="icon-menu-1"></i></span> -->
                <nav>
                    <ul>
                        <li class="active"><a href="catalog.html">Каталог товаров</a></li>
                        <li><a href="design-ideas.html">Идеи дизайна</a></li>
                        <li><a href="trade-marks.html">Торговые марки</a></li>
                        <li><a href="delivery.html">Доставка и оплата</a></li>
                        <li><a href="exchange.html">Возврат и обмен</a></li>
                        <li><a href="about.html">О нас</a></li>
                        <li><a href="contacts.html">Контакты</a></li>
                        <li><a href="blog.html">Блог</a></li>
                    </ul>
                </nav>
                <!-- На елемент basket добавляетьса класс complete если в карзине есть какойто товар -->
                <ul class="baskets">
                    <li><a class="search" href="javascript:void(0)"><i class="icon-magnifying-glass-2"></i></a></li>
                    <li><a class="comparison" href="javascript:void(0)"><i class="icon-heart"></i></a></li>
                    <li><a class="basket complete" href="basket.html"><span></span><i class="icon-shopping-cart-2"></i></a></li>
                </ul>
            </div>
        </div>
    </header>

    <section class="blog">
        <div class="container">
            <div class="bread-crumbs">
                <ul>
                    <li><a href="index.html">Галерея</a></li>
                    <li><span>Блог</span></li>
                </ul>
            </div>
            <div class="blog-content">
                <h2>Блог</h2>
                <div class="blog-top" style="background: url('../img/blog-top-img.jpg') no-repeat 50% 50%; background-size: cover;">
                    <a href="blog-one.html"></a>
                    <div class="title">
                        <p>Смеситель с выдвижным изливом MINTA 32918000</p>
                    </div>
                </div>
                <div class="blog-slider">
                    <div>
                        <div class="blog-slider-item" style="background: url('../img/blog-slider-img1.jpg') no-repeat 50% 50%; background-size: cover;">
                            <a href="blog-one.html"></a>
                            <div class="title">
                                <p>Как выбрать и установить смеситель для кухни с фильтром?</p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="blog-slider-item" style="background: url('../img/blog-slider-img2.jpg') no-repeat 50% 50%; background-size: cover;">
                            <a href="blog-one.html"></a>
                            <div class="title">
                                <p>Какой лучше выбрать фильтр для воды?</p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="blog-slider-item" style="background: url('../img/blog-slider-img3.jpg') no-repeat 50% 50%; background-size: cover;">
                            <a href="blog-one.html"></a>
                            <div class="title">
                                <p>10 примеров использования подвесной тумбы в ванной комнате 2019</p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="blog-slider-item" style="background: url('../img/blog-slider-img1.jpg') no-repeat 50% 50%; background-size: cover;">
                            <a href="blog-one.html"></a>
                            <div class="title">
                                <p>Как выбрать и установить смеситель для кухни с фильтром?</p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="blog-slider-item" style="background: url('../img/blog-slider-img2.jpg') no-repeat 50% 50%; background-size: cover;">
                            <a href="blog-one.html"></a>
                            <div class="title">
                                <p>Какой лучше выбрать фильтр для воды?</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="blog-one">
                    <article>
                        <img src="../img/blog-one-img1.jpg" alt="">
                        <h4>Начнем с преимуществ и недостатков</h4>
                        <p>К плюсам кухни в двухцветном дизайне является его легкое эстетическое восприятие, простой и нечем не нагруженный интерьер. Казалось бы простой = скучный и обыденный, но нет. Именно простота придает интерьеру элитного трендового
                            вида.</p>
                        <p>Причем данный прием применим для большинства стилей дизайна. Два цвета используются для классических, этнических, урбанистических и современных направлений дизайна. Также можно использовать в комнатах разной площади и разной освещенности.
                            С умом подобранные контрастные цвета могут компенсировать нехватку света и добавят яркие элементы в интерьер.</p>
                    </article>
                    <article>
                        <img src="../img/blog-one-img2.jpg" alt="">
                        <h4>Чтобы вид кухни не сталь слишком скучным при использовании двух цветов можно добавить по одному 
                        оттенку от первого и второго цвета.</h4>
                        <p>Выполнение интерьера кухни в двух цветах дает большою свободу для дизайнера который живет в каждом из нас. К примеру с помощью двух цветов можно зонировать пространство, не разбивая при этом целостность комнаты. Такой вариант хорошо
                            подойдет для квартир-студий, маленьких и больших кухонь-гостинных.
                        </p>
                    </article>
                    <article>
                        <img src="../img/blog-one-img3.jpg" alt="">
                        <p>Сложность подбора мебели и аксессуаров по цвету — главный недостаток. Кажется надуманным и не правдоподобным, особенно в наше время, когда можно найти и купить что угодно. Но это пока Вы сами не начнете подбирать мебель, мойки,
                            кухонные смесители и прочее под дизайн-проект будущей кухни.</p>
                        <p>Ко второму минусу можно отнести сложность подбора двух цвет для каждого члена семьи. К примеру, розовый и белый не подойдет для мужчин, темные цвета не лучший вариант для пожилых людей, нейтральные оттенки могут превратить кухню
                            в подобие больничной палатки.</p>
                    </article>
                    <article>
                        <img src="../img/blog-one-img4.jpg" alt="">
                        <h4>Стиль интерьера</h4>
                        <p>Как было сказано в начале статьи двухцветные кухни достаточно легко выполнить практически в любых стилях. Но лучше всего для них подходят современные стилистики, у которых на первый план выходит простота и однотонные материалы
                            с необычной текстурой.</p>
                        <p>Такие интерьеры выполняются с минимальным количеством лишних предметов, за счет чего проще комнату выполнить в двух цветах. К таким стилям относится минимализм и модерн.</p>
                    </article>
                    <article>
                        <img src="../img/blog-one-img5.jpg" alt="">
                        <p>Другие стили интерьера тоже могут хорошо смотреться в двухцветном исполнении, нужно только добавить их отличительные черты. К классике нужно добавить позолоту, лепнину и массивную мебель. </p>
                        <p>Прованс требует использовать натуральные материалы и цвета. В стиле лофт нужно соблюсти некую грубость в интерьере. Выставить на показ трубы, вентиляцию, стены должны быть без какой-либо обделки или специально декорированные под
                            бетон или кирпич. Подбираем строгую, лаконичную мебель и все, лофт готов.</p>
                        <i>P.S. Если хотите посмотреть на примеры интерьеров от профессиональных дизайнеров переходите в 
                        <a href="javascript:void(0)">Идеи дизайнов.</a></i>
                    </article>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="footer-top">
            <div class="container clearfix">
                <div class="form">
                    <span>Подписаться на рассылку:</span>
                    <!-- ТУТ УЖЕ ТВОЯ ФОНМА ТОЛЬКО ПОСМОТРИ ТАМ КЛИС ДОБАВИЛСЯ -->
                    <!-- Было form, но нужен div идёт перезагрузка страницы -->
                    <div id="respond" class="form-comtent clearfix">
                        <input type="text" id="email1" name="email" class="form-control" placeholder="Введите ваш е-майл">
                        <button id="button-subscribe" class="1">Отправить</button>
                    </div>
                </div>
                <!-- <div class="form">
                <span>Подписаться на рассылку:</span>
                <form class="clearfix">
                    <input type="text" placeholder="Введите ваш е-майл">
                    <button>Отправить</button>
                </form>
            </div> -->
                <div class="social">
                    <span>Следите за нами:</span>
                    <ul>
                        <li><a target="_blank" href="javascript:void(0)"><i class="icon-vk"></i></a></li>
                        <li><a target="_blank" href="javascript:void(0)"><i class="icon-facebook-logo"></i></a></li>
                        <li><a target="_blank" href="javascript:void(0)"><i class="icon-instagram-logo"></i></a></li>
                        <li><a target="_blank" href="javascript:void(0)"><i class="icon-odnoklassniki-logo"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-content">
            <div class="container clearfix">
                <nav>
                    <ul>
                        <li><a href="exchange.html">Возврат и обмен</a></li>
                        <li><a href="about.html">О нас</a></li>
                        <li><a href="contacts.html">Контакты</a></li>
                        <li><a href="blog.html">Блог</a></li>
                        <li><a href="catalog.html">Каталог товаров</a></li>
                        <li><a href="design-ideas.html">Идеи дизайна</a></li>
                        <li><a href="trade-marks.html">Торговые марки</a></li>
                        <li><a href="delivery.html">Доставка и оплата</a></li>
                    </ul>
                </nav>
                <ul class="social">
                    <li><i class="icon-address"></i>Харьков ул. Полтавский Шлях 14</li>
                    <li><i class="icon-passage-of-time"></i>Приём заказов,пн-вс 9:00-18:00</li>
                    <li><i class="icon-message-closed-envelope"></i><a href="maleto:Ovc-santeh-grup@gmail.com">Ovc-santeh-grup@gmail.com</a></li>
                    <li><i class="icon-phone-line"></i><a href="tel:0963095050">0 96 309 50 50</a></li>
                </ul>
            </div>
        </div>
        <p>ОВК-Сантех Комплекс &#169; 2019 г.</p>
    </footer>

    <script src="../js/jquery.min.js"></script>
    <script src="../js/jquery.mask.min.js"></script>
    <script src="../js/jquery.matchHeight.min.js"></script>
    <script src="../js/slick.min.js"></script>
    <script src="../js/script.min.js"></script>
    <script src="../js/blog.min.js"></script>
</body>

</html>