<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>ОВК</title>
    <meta name="cmsmagazine" content="5a7189a28fb3dc68238dbdb44c9ea99c" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900&display=swap&subset=cyrillic" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="16x16" href="../img/favicon.png">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/contacts.css">
</head>

<body>

    <div class="menu-mobile">
        <span class="close"></span>
        <nav>
            <ul>
                <li class="active"><a href="catalog.html">Каталог товаров</a></li>
                <li><a href="design-ideas.html">Идеи дизайна</a></li>
                <li><a href="trade-marks.html">Торговые марки</a></li>
                <li><a href="delivery.html">Доставка и оплата</a></li>
                <li><a href="exchange.html">Возврат и обмен</a></li>
                <li><a href="about.html">О нас</a></li>
                <li><a href="contacts.html">Контакты</a></li>
                <li><a href="blog.html">Блог</a></li>
            </ul>
        </nav>
    </div>

    <header>
        <div class="header-top">
            <div class="container clearfix">
                <a class="logo" href="index.html"><img src="../img/logo.png" alt=""></a>
                <div class="top-login clearfix">
                    <span class="time"><i class="icon-time-line"></i>Приём заказов,пн-вс 9:00-18:00</span>
                    <ul class="tel">
                        <li><a href="tel:0633095050"><i class="icon-phone-line"></i>0 63 309 50 50</a></li>
                        <li><a href="tel:0993095050"><i class="icon-phone-line"></i>0 99 309 50 50</a></li>
                        <li><a href="tel:0963095050"><i class="icon-phone-line"></i>0 96 309 50 50</a></li>
                    </ul>
                    <a href="personal-area.html" class="login"><i class="icon-user-line"></i>Войти</a>
                </div>
            </div>
        </div>
        <div class="header-content">
            <div class="container clearfix">
                <span class="modile-menu"><i class="icon-menu-1"></i>Меню</span>
                <!-- <span class="desc-menu"><i class="icon-menu-1"></i></span> -->
                <nav>
                    <ul>
                        <li class="active"><a href="catalog.html">Каталог товаров</a></li>
                        <li><a href="design-ideas.html">Идеи дизайна</a></li>
                        <li><a href="trade-marks.html">Торговые марки</a></li>
                        <li><a href="delivery.html">Доставка и оплата</a></li>
                        <li><a href="exchange.html">Возврат и обмен</a></li>
                        <li><a href="about.html">О нас</a></li>
                        <li><a href="contacts.html">Контакты</a></li>
                        <li><a href="blog.html">Блог</a></li>
                    </ul>
                </nav>
                <!-- На елемент basket добавляетьса класс complete если в карзине есть какойто товар -->
                <ul class="baskets">
                    <li><a class="search" href="javascript:void(0)"><i class="icon-magnifying-glass-2"></i></a></li>
                    <li><a class="comparison" href="javascript:void(0)"><i class="icon-heart"></i></a></li>
                    <li><a class="basket complete" href="basket.html"><span></span><i class="icon-shopping-cart-2"></i></a></li>
                </ul>
            </div>
        </div>
    </header>

    <section class="contacts">
        <div class="container">
            <div class="bread-crumbs">
                <ul>
                    <li><a href="index.html">Галерея</a></li>
                    <li><span>Контакты</span></li>
                </ul>
            </div>
            <div class="contacts-content">
                <h2>Контакты</h2>
                <p>Свяжитесь с нашими сотрудниками для освещения вопросов о Вашем заказе, доступности товаров, информации о ценах и многое другое.</p>
                <ul>
                    <li><i class="icon-address"></i>Харьков ул. Полтавский Шлях 14</li>
                    <li><i class="icon-passage-of-time"></i>Приём заказов,пн-вс 9:00-18:00</li>
                    <li><i class="icon-message-closed-envelope"></i><a href="maleto:Ovc-santeh-grup@gmail.com">Ovc-santeh-grup@gmail.com</a></li>
                    <li><i class="icon-phone-line"></i><a href="tel:0963095050">0 96 309 50 50</a></li>
                </ul>
                <h4>Пункты выдачи магазина в г.Харьков</h4>
                <span>ул. Дмитриевская 75, время работы с Пн-Пт 9:00 до 20:00, в Сб с 10:00 до 17:00, выходной воскресенье.</span>
                <span>ул. Красноткацкая 69, время работы с Пн-Пт 10:00 до 20:00, в Сб с 10:00 до 17:00, выходной воскресенье.</span>
            </div>
            <div class="maps clearfix">
                <div class="maps-item">
                    <h5>Пункт выдачи ул.Дмитриевская</h5>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2565.217899694151!2d36.213763015714655!3d49.98852407941425!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4127a0f884ff4f87%3A0x6fa9d3897ea62c79!2z0JTQvNC40YLRgNC40LXQstGB0LrQsNGPINGD0LsuLCDQpdCw0YDRjNC60L7Qsiwg0KXQsNGA0YzQutC-0LLRgdC60LDRjyDQvtCx0LvQsNGB0YLRjCwgNjEwMDA!5e0!3m2!1sru!2sua!4v1567680978829!5m2!1sru!2sua"
                    frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                </div>
                <div class="maps-item">
                    <h5>Пункт выдачи ул.Красноткацкая</h5>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3529.4773729719122!2d36.24050742102088!3d49.98210403816016!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4127a08b242beb85%3A0x10cac71e9bfad3ea!2z0KTQvtC60YHRgtGA0L7Rgg!5e0!3m2!1sru!2sua!4v1567681073500!5m2!1sru!2sua"
                    frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="footer-top">
            <div class="container clearfix">
                <div class="form">
                    <span>Подписаться на рассылку:</span>
                    <!-- ТУТ УЖЕ ТВОЯ ФОНМА ТОЛЬКО ПОСМОТРИ ТАМ КЛИС ДОБАВИЛСЯ -->
                    <!-- Было form, но нужен div идёт перезагрузка страницы -->
                    <div id="respond" class="form-comtent clearfix">
                        <input type="text" id="email1" name="email" class="form-control" placeholder="Введите ваш е-майл">
                        <button id="button-subscribe" class="1">Отправить</button>
                    </div>
                </div>
                <!-- <div class="form">
                <span>Подписаться на рассылку:</span>
                <form class="clearfix">
                    <input type="text" placeholder="Введите ваш е-майл">
                    <button>Отправить</button>
                </form>
            </div> -->
                <div class="social">
                    <span>Следите за нами:</span>
                    <ul>
                        <li><a target="_blank" href="javascript:void(0)"><i class="icon-vk"></i></a></li>
                        <li><a target="_blank" href="javascript:void(0)"><i class="icon-facebook-logo"></i></a></li>
                        <li><a target="_blank" href="javascript:void(0)"><i class="icon-instagram-logo"></i></a></li>
                        <li><a target="_blank" href="javascript:void(0)"><i class="icon-odnoklassniki-logo"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-content">
            <div class="container clearfix">
                <nav>
                    <ul>
                        <li><a href="exchange.html">Возврат и обмен</a></li>
                        <li><a href="about.html">О нас</a></li>
                        <li><a href="contacts.html">Контакты</a></li>
                        <li><a href="blog.html">Блог</a></li>
                        <li><a href="catalog.html">Каталог товаров</a></li>
                        <li><a href="design-ideas.html">Идеи дизайна</a></li>
                        <li><a href="trade-marks.html">Торговые марки</a></li>
                        <li><a href="delivery.html">Доставка и оплата</a></li>
                    </ul>
                </nav>
                <ul class="social">
                    <li><i class="icon-address"></i>Харьков ул. Полтавский Шлях 14</li>
                    <li><i class="icon-passage-of-time"></i>Приём заказов,пн-вс 9:00-18:00</li>
                    <li><i class="icon-message-closed-envelope"></i><a href="maleto:Ovc-santeh-grup@gmail.com">Ovc-santeh-grup@gmail.com</a></li>
                    <li><i class="icon-phone-line"></i><a href="tel:0963095050">0 96 309 50 50</a></li>
                </ul>
            </div>
        </div>
        <p>ОВК-Сантех Комплекс &#169; 2019 г.</p>
    </footer>

    <script src="../js/jquery.min.js"></script>
    <script src="../js/jquery.mask.min.js"></script>
    <script src="../js/script.min.js"></script>
    <script src="../js/contacts.min.js"></script>
</body>

</html>