<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>ОВК</title>
    <meta name="cmsmagazine" content="5a7189a28fb3dc68238dbdb44c9ea99c" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900&display=swap&subset=cyrillic" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="16x16" href="../img/favicon.png">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/delivery.css">
</head>

<body>

    <div class="menu-mobile">
        <span class="close"></span>
        <nav>
            <ul>
                <li class="active"><a href="catalog.html">Каталог товаров</a></li>
                <li><a href="design-ideas.html">Идеи дизайна</a></li>
                <li><a href="trade-marks.html">Торговые марки</a></li>
                <li><a href="delivery.html">Доставка и оплата</a></li>
                <li><a href="exchange.html">Возврат и обмен</a></li>
                <li><a href="about.html">О нас</a></li>
                <li><a href="contacts.html">Контакты</a></li>
                <li><a href="blog.html">Блог</a></li>
            </ul>
        </nav>
    </div>

    <header>
        <div class="header-top">
            <div class="container clearfix">
                <a class="logo" href="index.html"><img src="../img/logo.png" alt=""></a>
                <div class="top-login clearfix">
                    <span class="time"><i class="icon-time-line"></i>Приём заказов,пн-вс 9:00-18:00</span>
                    <ul class="tel">
                        <li><a href="tel:0633095050"><i class="icon-phone-line"></i>0 63 309 50 50</a></li>
                        <li><a href="tel:0993095050"><i class="icon-phone-line"></i>0 99 309 50 50</a></li>
                        <li><a href="tel:0963095050"><i class="icon-phone-line"></i>0 96 309 50 50</a></li>
                    </ul>
                    <a href="personal-area.html" class="login"><i class="icon-user-line"></i>Войти</a>
                </div>
            </div>
        </div>
        <div class="header-content">
            <div class="container clearfix">
                <span class="modile-menu"><i class="icon-menu-1"></i>Меню</span>
                <span class="desc-menu"><i class="icon-menu-1"></i></span>
                <nav>
                    <ul>
                        <li class="active"><a href="catalog.html">Каталог товаров</a></li>
                        <li><a href="design-ideas.html">Идеи дизайна</a></li>
                        <li><a href="trade-marks.html">Торговые марки</a></li>
                        <li><a href="delivery.html">Доставка и оплата</a></li>
                        <li><a href="exchange.html">Возврат и обмен</a></li>
                        <li><a href="about.html">О нас</a></li>
                        <li><a href="contacts.html">Контакты</a></li>
                        <li><a href="blog.html">Блог</a></li>
                    </ul>
                </nav>
                <!-- На елемент basket добавляетьса класс complete если в карзине есть какойто товар -->
                <ul class="baskets">
                    <li><a class="search" href="javascript:void(0)"><i class="icon-magnifying-glass-2"></i></a></li>
                    <li><a class="comparison" href="javascript:void(0)"><i class="icon-heart"></i></a></li>
                    <li><a class="basket complete" href="basket.html"><span></span><i class="icon-shopping-cart-2"></i></a></li>
                </ul>
            </div>
        </div>
    </header>

    <section class="delivery">
        <div class="container">
            <div class="bread-crumbs">
                <ul>
                    <li><a href="index.html">Галерея</a></li>
                    <li><span>Доставка и оплата</span></li>
                </ul>
            </div>
            <div class="delivery-content">
                <h2>Доставка:</h2>
                <div class="points clearfix">
                    <img src="../img/points-img1.jpg" alt="" class="mobile">
                    <img src="../img/points-img2.jpg" alt="" class="desc">
                    <div class="text">
                        <div class="text-item">
                            <h4>Пункты выдачи:</h4>
                            <p>Вы можете получить заказ в одном из наших представительств, где можно осмотреть товар, проверить его комплектацию и оплатить покупку на месте.</p>
                        </div>
                        <div class="text-item">
                            <h6>Товар можно получить самостоятельно по адресу:</h6>
                            <ul>
                                <li>- г.Харьков, ул.Дмитриевская, 75</li>
                                <li>- г.Харьков, ул.Красноткацкая, 69 - левый берег</li>
                            </ul>
                        </div>
                        <div class="text-item">
                            <h6>Курьерская доставка по адресу:</h6>
                            <ul>
                                <li>- время и условия доставки Вы можете согласовать с сотрудниками нашего магазина;</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="mail">
                    <h4>Отделение Новой Почты:<img src="../img/mail-img.png" alt=""></h4>
                    <img src="../img/mail-img1.jpg" alt="" class="mobile">
                    <img src="../img/mail-img2.jpg" alt="" class="desc">
                    <ul>
                        <li>- Доставка всех товаров по Украине осуществляется во все города Украины, без предварительной оплаты, оплата при получении товара</li>
                        <li>- Заказ отправляется в течении 1–2-х дней с момента оформления заказа, исключая выходные и праздничные дни. Доставка занимает 2–4 рабочих дня, в зависимости от города назначения и выбранного способа доставки;</li>
                        <li>- Заказ может бесплатно храниться на складе «Новой Почты» в течении четырех дней, после чего отправляется назад.</li>
                        <li>- При получении купленного Вами товара убедитесь в его полной комплектности и отсутствии механических повреждений;</li>
                        <li>- Точную стоимость доставки смотрите на странице оформления заказа.</li>
                    </ul>
                </div>
            </div>
            <div class="payment-content">
                <h2>Оплата:</h2>
                <div class="payment clearfix">
                    <img src="../img/payment-img1.jpg" alt="" class="mobile">
                    <img src="../img/payment-img2.jpg" alt="" class="desc">
                    <div class="text">
                        <div class="text-item">
                            <h4>Оплата наличными при доставке курьером</h4>
                            <p>Наши курьеры доставят Ваш заказ в удобное для Вас время, предварительно согласованное с менеджером. Заказ оплачивается после его получения, и проверки содержимого.</p>
                        </div>
                        <div class="text-item">
                            <h6>Безналичная оплата для физических лиц</h6>
                            <p>Оплата производиться безналичным банковским переводом, после предоставления менеджером компании счета-фактуры с перечнем заказанного Вами товара. Вы можете оплатить через кассу любого банка (при этом взимается банковская комиссия).</p>
                        </div>
                        <div class="text-item">
                            <h6>Оплата для организаций по безналичному расчету (для плательщиков НДС)</h6>
                            <p>У нас Вы можете приобрести товар для организаций со всеми необходимыми документами. Позвоните и мы оформим счет-фактуру, расходную и налоговую накладные.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="footer-top">
            <div class="container clearfix">
                <div class="form">
                    <span>Подписаться на рассылку:</span>
                    <form class="clearfix">
                        <input type="text" placeholder="Введите ваш е-майл">
                        <button>Отправить</button>
                    </form>
                </div>
                <div class="social">
                    <span>Следите за нами:</span>
                    <ul>
                        <li><a target="_blank" href="javascript:void(0)"><i class="icon-vk"></i></a></li>
                        <li><a target="_blank" href="javascript:void(0)"><i class="icon-facebook-logo"></i></a></li>
                        <li><a target="_blank" href="javascript:void(0)"><i class="icon-instagram-logo"></i></a></li>
                        <li><a target="_blank" href="javascript:void(0)"><i class="icon-odnoklassniki-logo"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-content">
            <div class="container clearfix">
                <nav>
                    <ul>
                        <li><a href="exchange.html">Возврат и обмен</a></li>
                        <li><a href="about.html">О нас</a></li>
                        <li><a href="contacts.html">Контакты</a></li>
                        <li><a href="blog.html">Блог</a></li>
                        <li><a href="catalog.html">Каталог товаров</a></li>
                        <li><a href="design-ideas.html">Идеи дизайна</a></li>
                        <li><a href="trade-marks.html">Торговые марки</a></li>
                        <li><a href="delivery.html">Доставка и оплата</a></li>
                    </ul>
                </nav>
                <ul class="social">
                    <li><i class="icon-address"></i>Харьков ул. Полтавский Шлях 14</li>
                    <li><i class="icon-passage-of-time"></i>Приём заказов,пн-вс 9:00-18:00</li>
                    <li><i class="icon-message-closed-envelope"></i><a href="maleto:Ovc-santeh-grup@gmail.com">Ovc-santeh-grup@gmail.com</a></li>
                    <li><i class="icon-phone-line"></i><a href="tel:0963095050">0 96 309 50 50</a></li>
                </ul>
            </div>
        </div>
        <p>ОВК-Сантех Комплекс &#169; 2019 г.</p>
    </footer>

    <script src="../js/jquery.min.js"></script>
    <script src="../js/jquery.mask.min.js"></script>
    <script src="../js/script.min.js"></script>
    <script src="../js/delivery.min.js"></script>
</body>

</html>