<footer>
    <div class="footer-top">
        <div class="container clearfix">
            <div class="form">
                <span>Подписаться на рассылку:</span>
                <form class="clearfix">
                    <input type="text" placeholder="Введите ваш е-майл">
                    <button>Отправить</button>
                </form>
            </div>
            <div class="social">
                <span>Следите за нами:</span>
                <ul>
                    <li><a target="_blank" href="javascript:void(0)"><i class="icon-vk"></i></a></li>
                    <li><a target="_blank" href="javascript:void(0)"><i class="icon-facebook-logo"></i></a></li>
                    <li><a target="_blank" href="javascript:void(0)"><i class="icon-instagram-logo"></i></a></li>
                    <li><a target="_blank" href="javascript:void(0)"><i class="icon-odnoklassniki-logo"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-content">
        <div class="container clearfix">
            <nav>
                <ul>
                    <li><a href="exchange.html">Возврат и обмен</a></li>
                    <li><a href="about.html">О нас</a></li>
                    <li><a href="contacts.html">Контакты</a></li>
                    <li><a href="blog.html">Блог</a></li>
                    <li><a href="catalog.html">Каталог товаров</a></li>
                    <li><a href="design-ideas.html">Идеи дизайна</a></li>
                    <li><a href="trade-marks.html">Торговые марки</a></li>
                    <li><a href="delivery.html">Доставка и оплата</a></li>
                </ul>
            </nav>
            <ul class="social">
                <li><i class="icon-address"></i>Харьков ул. Полтавский Шлях 14</li>
                <li><i class="icon-passage-of-time"></i>Приём заказов,пн-вс 9:00-18:00</li>
                <li><i class="icon-message-closed-envelope"></i><a href="maleto:Ovc-santeh-grup@gmail.com">Ovc-santeh-grup@gmail.com</a></li>
                <li><i class="icon-phone-line"></i><a href="tel:0963095050">0 96 309 50 50</a></li>
            </ul>
        </div>
    </div>
    <p>ОВК-Сантех Комплекс &#169; 2019 г.</p>
</footer>