<div class="menu-mobile">
    <span class="close"></span>
    <nav>
        <ul>
            <li class="active"><a href="catalog.html">Каталог товаров</a></li>
            <li><a href="design-ideas.html">Идеи дизайна</a></li>
            <li><a href="trade-marks.html">Торговые марки</a></li>
            <li><a href="delivery.html">Доставка и оплата</a></li>
            <li><a href="exchange.html">Возврат и обмен</a></li>
            <li><a href="about.html">О нас</a></li>
            <li><a href="contacts.html">Контакты</a></li>
            <li><a href="blog.html">Блог</a></li>
        </ul>
    </nav>
</div>

<header>
    <div class="header-top">
        <div class="container clearfix">
            <a class="logo" href="index.html"><img src="../img/logo.png" alt=""></a>
            <div class="top-login clearfix">
            <span class="time"><i class="icon-time-line"></i>Приём заказов,пн-вс 9:00-18:00</span>
                <ul class="tel">
                    <li><a href="tel:0633095050"><i class="icon-phone-line"></i>0 63 309 50 50</a></li>
                    <li><a href="tel:0993095050"><i class="icon-phone-line"></i>0 99 309 50 50</a></li>
                    <li><a href="tel:0963095050"><i class="icon-phone-line"></i>0 96 309 50 50</a></li>
                </ul>
                <a href="personal-area.html" class="login"><i class="icon-user-line"></i>Войти</a>
            </div>
        </div>
    </div>
    <div class="header-content">
        <div class="container clearfix">
            <span class="modile-menu"><i class="icon-menu-1"></i>Меню</span>
            <!-- <span class="desc-menu"><i class="icon-menu-1"></i></span> -->
            <nav>
                <ul>
                    <li class="active"><a href="catalog.html">Каталог товаров</a></li>
                    <li><a href="design-ideas.html">Идеи дизайна</a></li>
                    <li><a href="trade-marks.html">Торговые марки</a></li>
                    <li><a href="delivery.html">Доставка и оплата</a></li>
                    <li><a href="exchange.html">Возврат и обмен</a></li>
                    <li><a href="about.html">О нас</a></li>
                    <li><a href="contacts.html">Контакты</a></li>
                    <li><a href="blog.html">Блог</a></li>
                </ul>
            </nav>
            <!-- На елемент basket добавляетьса класс complete если в карзине есть какойто товар -->
            <ul class="baskets">
                <li><a class="search" href="javascript:void(0)"><i class="icon-magnifying-glass-2"></i></a></li>
                <li><a class="comparison" href="javascript:void(0)"><i class="icon-heart"></i></a></li>
                <li><a class="basket complete" href="basket.html"><span></span><i class="icon-shopping-cart-2"></i></a></li>
            </ul>
        </div>
    </div>
</header>