
.icon-address:before { content: '\e800'; } /* '' */
.icon-facebook-logo:before { content: '\e801'; } /* '' */
.icon-heart:before { content: '\e802'; } /* '' */
.icon-instagram-logo:before { content: '\e803'; } /* '' */
.icon-magnifying-glass-2:before { content: '\e804'; } /* '' */
.icon-message-closed-envelope:before { content: '\e805'; } /* '' */
.icon-odnoklassniki-logo:before { content: '\e806'; } /* '' */
.icon-passage-of-time:before { content: '\e807'; } /* '' */
.icon-right-open-mini:before { content: '\e808'; } /* '' */
.icon-shopping-cart-2:before { content: '\e809'; } /* '' */
.icon-ccw:before { content: '\e80a'; } /* '' */
.icon-right-open-1:before { content: '\e80b'; } /* '' */
.icon-vk:before { content: '\e80c'; } /* '' */
.icon-left-open-1:before { content: '\e80d'; } /* '' */
.icon-truck:before { content: '\e80e'; } /* '' */
.icon-phone-line:before { content: '\e810'; } /* '' */
.icon-time-line:before { content: '\e811'; } /* '' */
.icon-user-line:before { content: '\e812'; } /* '' */
.icon-save-file-option:before { content: '\e817'; } /* '' */
.icon-writing:before { content: '\e818'; } /* '' */
.icon-menu-1:before { content: '\f008'; } /* '' */